@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
  
    .addbuttongreen {
        position: absolute; /* This is required */
  
        top: 10.62rem;
       right: 0.62rem;

        display: flex;
        width: 10.625rem;
        height: 2.9375rem;
        padding: 0.5rem 0.75rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        flex-shrink: 0;
border-radius: 0.5rem;
background: linear-gradient(90deg, #45D699 0.03%, #08B2AC 99.95%);
color: #FFF;
font-family: Montserrat;
font-size: 0.9375rem;
font-style: normal;
font-weight: 700;
line-height: normal;
border: none;
cursor: pointer;


  }
  
  .addbuttongreen:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
    
  }
  
  .addbuttongreen:active {
    transform: translateY(-1px);
  }
  .add{

    width: 1.25rem;
    height: 1.0625rem;
    flex-shrink: 0;
  }




  .addbuttonblue{
    position: absolute; /* This is required */

    top: 10.6rem;
   right: 12.7rem;

    display: flex;
    width: 10.625rem;
    height: 2.9375rem;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: var(--2nd, linear-gradient(90deg, #0B8FAC 0%, #043A46 100%));
color: #FFF;
font-family: Montserrat;
font-size: 0.9375rem;
font-style: normal;
font-weight: 700;
line-height: normal;
border: none;
cursor: pointer;


}

.addbuttonblue:hover {
background-color: #0B8FAC;
box-shadow: 0px 15px 20px #0B8FAC;
color: #fff;
transform: translateY(-7px);

}

.addbuttonblue:active {
transform: translateY(-1px);
}

/* From Uiverse.io by adamgiebl */ 
button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  position: absolute; /* This is required */
  
  top: 10.62rem;
 right: 0.62rem;

  display: flex;
  width: 10.625rem;
  height: 2.9375rem;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #F61D1D 0%, #4B2D2D 100%);
color: #FFF;
font-family: Montserrat;
font-size: 0.9375rem;
font-style: normal;
font-weight: 700;
line-height: normal;
border: none;
cursor: pointer;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.6em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
