@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
/* From Uiverse.io by alexruix */ 
.group {
   
display: flex;
width: 50%;
height: 3.75rem;
overflow: hidden;

border-radius: 2rem;
border: 1px solid #9A9696;
box-shadow: 0px 4px 12px 0px rgba(13, 10, 44, 0.06);
background: var(--White-White, #FFF);
align-items: center;
gap: 0.375rem;
flex-shrink: 0;

position: absolute; /* This is required */
  
top: 8.5rem;
right: 24.7rem;


   }
   
   .input {
        width: 2rem;
        height: 40px;
        line-height: 28px;
        padding: 0 1rem;
        padding-left: 2.5rem;
        border: 2px solid transparent;
        border-radius: 8px;
        outline: none;
        background-color: #ffffff;
        color: #0d0c22;
        transition: .3s ease;
        color: var(--Gray, #ABB7C2);
font-family: Poppins;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;

display: flex;
width: 100%;
height: 3.75rem;
overflow: hidden;
padding-left: 3rem;
border-radius: 2rem;
border: 1px solid #9A9696;
box-shadow: 0px 4px 12px 0px rgba(13, 10, 44, 0.06);
background: var(--White-White, #FFF);
align-items: center;
gap: 0.375rem;
flex-shrink: 0;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: #1CD8D2;
    border-radius: 2rem;
    border: 5px solid #1CD8D2;
    background-color: #fff;
    box-shadow: 0 0 0 6px rgb(234 76 137 / 10%);
    color: #53535f;
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
    display: flex;
padding: 0;
align-items: center;
gap: 0.625rem;

width: 1.5rem;
height: 1.5rem;
   }
   
   
   
   
   
   