<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Enseignants</title>
</head>
<body>
    <h1>Liste des utilisateur</h1>
    <table border="1">
        <tr>
            <th>Nom</th>
            <th>rang</th>
            <th>Email</th>
            <th>mots de pass</th>
            
        </tr>
        {% for utilisateur in utilisateurs %}
        <tr>
            <td>{{ utilisateur.nom_utilisateur }}</td>
            <td>{{ utilisateur.rang }}</td>
            <td>{{ utilisateur.email }}</td>
            <td>{{ utilisateur.mot_de_passe }}</td>
            
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Aucun enseignant trouvé.</td>
        </tr>
        {% endfor %}
    </table>
    <br>
</body>
</html>