.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.logo-text {
  margin-left: 0.5rem;
  font-weight: 700;
  color: #1e88e5;
  font-size: 1.25rem;
}
