@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


html {
  font-size: min(1vw, 1.8vh); /* Adapts to both width and height */
}


.left-panel {
  width: 62.875rem;
  height: 67.5rem;
  border-radius: 0rem 11.5rem 11.5625rem 0rem;
  background: linear-gradient(325deg, #2E6DA4 0.74%, #0F70DA 100%);
  flex-shrink: 0;

  
  position: absolute; /* This is required */
  top: 0.5rem; /* Adjusted to lower the button */
  right: 0;
  
}
  

  
  .left-panel-title {
    width: 54.38681rem;
    height: 6.74rem;
    flex-shrink: 0;
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.08rem;
    text-align: center;


  }
  
  
  .left-panel-text {
    
    width: 54.375rem;
    height: 7.5625rem;
    flex-shrink: 0;
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.03rem;
    text-align: center;

  }
 
  