@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


html {
  font-size: min(1vw, 1.8vh); /* Adapts to both width and height */
}


.left-panel {
 
  
  
}
  

  
  .left-panel-title {
 
  }
  
  
  .left-panel-text {
    

  }
 
  