@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


html {
  font-size: min(1vw, 1.8vh); /* Adapts to both width and height */
}


.left-panel {
  width: 62.875rem;
  height: 67.5rem;
  flex-shrink: 0;

  background: linear-gradient(325deg, #2E6DA4 0.74%, #0F70DA 100%);
 
  position: absolute ;
right : 53.1rem
}
  
  .left-panel-content {
    max-width: 100%;
  }
  
  .left-panel-title {
    width: 60.38681rem;
 height: 8.74rem;
 flex-shrink: 0;
  color: var(--White, #FFF);
 position: relative;
  top: -10rem;
  left: 8rem;;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 6rem */
  letter-spacing: -0.08rem;
  }
  
  
  .left-panel-text {
    

    width: 45.375rem;
    height: 7.5625rem;
    flex-shrink: 0;
    color: var(--White, #FFF);
    text-align: center;
   
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 2.25rem */
    letter-spacing: -0.03rem;
  }
 
  