.right-panel {
 
  }
  
  .login-form-container {
   
  }
  
  .login-header {
   
  }
  
  .login-title {
   
  }
  
  .login-form {
  
    
 
  }
  
  .form-group {
   
   
  }
  
  .form-label {
 
  }
  
  .form-input {
  
  }
  
  .form-input:focus {
  
  }
  
  .login-button {

    
  }
  
  .login-button:hover {
    background-color: #1976d2;
  }
  
  