@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


html {
  font-size: min(1vw, 1.8vh); /* Adapts to both width and height */
}


.right-panel {
  
  

  }
  
  .login-form-container {
    
  
  }
  
  .login-header {
   
    color: var(--Black, #1D1D1D);
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.06rem;
  }
  
  .login-title {
   
    
  }
  
  .login-form {
  
    
 
  }
  
  .form-group {
   
   
  }
  
  .form-label {
 
  }
  
  .form-input {
  
  }
  
  .form-input:focus {
  
  }
  
  .login-button {

    
  }
  
  .login-button:hover {
  
  }
  
  