@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


html {
  font-size: min(1vw, 1.8vh); /* Adapts to both width and height */
}


.right-panel {
  


  }
  
  .login-form-container {

   
  }
  
  .login-header {
   
  }
  
  .login-title {
   
  }
  
  .login-form {
  
    
 
  }
  
  .form-group {
   
   
  }
  
  .form-label {
 
  }
  
  .form-input {
  
  }
  
  .form-input:focus {
  
  }
  
  .login-button {

    
  }
  
  .login-button:hover {
  
  }
  
  