.right-panel {
 
  }
  
  .login-form-container {
   
  }
  
  .login-header {
   
  }
  
  .login-title {
   
  }
  
  .login-form {
  
    
 
  }
  
  .form-group {
   
   
  }
  
  .form-label {
 
  }
  
  .form-input {
    width: 100%;
    height: 3.5rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 0.875rem;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
  }
  
  .form-input:focus {
    border-color: #1e88e5;
    box-shadow: 0 0 0 2px rgba(30, 136, 229, 0.2);
    
    display: flex;
    justify-content: center;
  }
  
  .login-button {
    width: 60%;
    background-color: #1e88e5;
    color: white;
    margin: 0 auto;
    padding: 0.5rem 5.5rem;
    border-radius: 0.375rem;
    border: none;
    font-weight: 500;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.2s;
    
  }
  
  .login-button:hover {
    background-color: #1976d2;
  }
  
  