.left-panel {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 0rem 11.5625rem 11.5625rem 0rem;
  background: linear-gradient(325deg, #2E6DA4 0.74%, #0F70DA 100%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
  .left-panel-content {
    max-width: 100%;
  }
  
  .left-panel-title {
    width: 60.38681rem;
 height: 8.74rem;
 flex-shrink: 0;
  color: var(--White, #FFF);
 position: relative;
  top: -10rem;
  left: 8rem;;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 6rem */
  letter-spacing: -0.08rem;
  }
  
  
  .left-panel-text {
    

    width: 45.375rem;
    height: 7.5625rem;
    flex-shrink: 0;
    color: var(--White, #FFF);
    text-align: center;
   
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 2.25rem */
    letter-spacing: -0.03rem;
  }
 
  