.left-panel {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 0rem 11.5625rem 11.5625rem 0rem;
  background: linear-gradient(325deg, #2E6DA4 0.74%, #0F70DA 100%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
  .left-panel-content {
    max-width: 100%;
  }
  
  .left-panel-title {
    width: 84.38681rem;
    height: 6.74rem;
    flex-shrink: 0;
    color: var(--White, #FFF);


font-size: 4rem;
font-style: normal;
font-weight: 600;
line-height: 0rem; /* 6rem */
padding-bottom: 12rem;
letter-spacing: -0.08rem;
  }
  
  .left-panel-text {
    color: var(--White, #FFF);

font-size: 1.475rem;
font-weight: bold;
font-style: normal;

line-height: 150%; /* 2.25rem */
letter-spacing: -0.03rem;
width: 34.375rem;
height: 20.5625rem;
flex-shrink: 0;
  }
 
  