@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.editButton {
  display: flex;
  width: 10.625rem;
  height: 2.9375rem;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #0B8FAC 0%, #043A46 100%);
  color: #FFF;
  font-family: Montserrat;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  cursor: pointer;
}

.editButton:hover {
  background-color: #0B8FAC;
  box-shadow: 0px 15px 20px #0B8FAC;
  color: #fff;
}

.editButton:active {
  transform: translateY(-1px);
}

.saveButton {
  display: flex;
  width: 10.625rem;
  height: 2.9375rem;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #45D699 0.03%, #08B2AC 99.95%);
  color: #FFF;
  font-family: Montserrat;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  cursor: pointer;
}

.saveButton:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
}

.saveButton:active {
  transform: translateY(-1px);
}

.cancelButton {
  display: flex;
  width: 10.625rem;
  height: 2.9375rem;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #0B8FAC 0%, #043A46 100%);
  color: #FFF;
  font-family: Montserrat;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: #0B8FAC;
  box-shadow: 0px 15px 20px #0B8FAC;
  color: #fff;
}
